<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index social media</title>
</head>
<body>
	<h1>Social media</h1>
	<h3>Welcome to the #1 social media application</h3>
	<hr>
	<form action="/login" method="post">
		<label>User Name :</label>
		<input type="text" name="username">
		<br><br>
		
		<label>Password :</label>
		<input type="password" name="password">
		<br><br>
		
		<input type="submit" value="login">
		<hr>
		
		<a href="/openResetPassword">Forgot Password</a>
		<a href="/openSignUp">Create new account</a>
		
	</form>
</body>
</html>